@model IEnumerable<AsyncInnApp.Models.HotelRoom>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}

<div class="title-head">
    <h4>Index</h4>

    <h4>HotelRoom</h4>
</div>
<hr />

<p class="create-new">
    <a asp-action="Create">Create New</a>
</p>
<section class="table-holder">

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoomID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetFriendly)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PetFriendly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hotel.ID)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { hotelID=item.HotelID, roomNumber=item.RoomNumber }) |
                        @Html.ActionLink("Details", "Details", new { hotelID = item.HotelID, roomNumber = item.RoomNumber }) |
                        @Html.ActionLink("Delete", "Delete", new { hotelID = item.HotelID, roomNumber = item.RoomNumber })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
