@model IEnumerable<AsyncInnApp.Models.Room>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}

<div class="title-head">
    <h4>Index</h4>

    <h4>Rooms</h4>
</div>
<hr />
<form asp-controller="Rooms" asp-action="Index">
    <label>Search</label>
    <input type="text" name="searchString" />
    <input type="submit" value="Filter" />

</form>

<p> There are @Model.ToArray().Length Rooms</p>
<p class="create-new">
    <a asp-action="Create">Create New</a>
</p>
<section class="table-holder">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Layout)
                </th>
                <th>
                    # of Amenities
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Layout)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfAmenities)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
