@model IEnumerable<AsyncInnApp.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}

<div class="title-head">
    <h4>Index</h4>

    <h4>Room Amenities</h4>
</div>
<hr />

<p class="create-new">
    <a asp-action="Create">Create New</a>
</p>
<section class="table-holder">

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Amenities)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amenities.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.ID)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { roomId=item.RoomID, amenitiesID=item.AmenitiesID})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
